name: Build and Test Docker

on:
  push:
    branches:
      - main

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t task_1 .

      - name: Run Docker Container
        run: |
          docker run -d --name task_1_container -p 5000:3000 task_1
          sleep 5
          curl http://localhost:5000
          docker stop task_1_container
          docker rm task_1_container
